.city_banner_container{
    background-image: url("../../../public/city_banner.png");
    background-repeat: repeat-x;
    background-position: bottom;
    
}
@keyframes animatename{
    0%{
      transform: translateX(0px);
    }
    100%{
      transform: translateX(-110vw);
    }
  }
  
.running_bus_container{
    animation: animatename 10s linear infinite;
    /* animation shorthand */
    
}